<table style="font-family:Verdana, sans-serif; font-size:14px">
	<tr>
		<td>
			<p><b>Dear ##NAME##,</b></p>

			<p>We received a request to reset the password associated with this E-mail Id. Below We have given the new password. </p>
			<p style="padding-top:10px;">Use the following credentials: </p>
			<div style="">
				<p>E-mail Id : ##EMAILID##</p>
				<p>Password  : ##PASSWORD##</p>
			</div>
			<p>Please <a href="##DOMAINURL##">click here</a> to login.</p>
			<p>Warmest regards,</p>
			<p><b>www.garmenplus.com</b></p>
		</td>
	</tr>
</table>