<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><!--siteName--></title>
    <style>
        a {
            color: #1b3469;
        }

        a:hover {
            color: #1b3469;
        }

        .email_footer a {
            color: #333333;
        }

        .email_footer a:hover {
            color: #5d91cc;
        }
    </style>
</head>
<body style="margin:0px;background-color:#eee;">
<table width="100%" border="0" cellspacing="0" cellpadding="0"
       style="font-family:Tahoma, Arial, sans-serif; font-size:11px;color:#575757;line-height:15px;">
    <tr>
        <td valign="top" style="padding: 0px;"></td>
        <table cellpadding="0" cellspacing="0" width="600" align="center"
               style="max-width: 600px;min-width: 240px;margin: 0 auto;" class="email-root-wrapper">
            <tr>
                <td height="68"
                    style="font-family:Arial, Helvetica, sans-serif; text-indent:10px;padding-top:10px;border-bottom:1px solid #eee;padding-bottom:10px;background-color: #FFF;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">

                        <tr>
                            <td><p>Dear: ##name##,</p></td>
                        </tr>
                        <tr>
                            <td><h2>Welcome to ##DOMAINNAME##</h2></td>
                        </tr>
                        <tr>
                            <td><p>Thanks for joining ##DOMAINNAME##, We listed your sign in details below, make sure you
                                keep them safe.</p>
                            </td>
                        </tr>

                        <tr><td>Email: <a href="#" style="color: black; text-decoration: none; padding-left: 20px">##username##</a></td></tr>
                        <tr><td>Password: ##password##</td></tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td></tr>

                    </table>

                </td>
            </tr>
        </table>

    </tr>

</table>
</body>
</html>