<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><!--siteName--></title>
    <style>
        a{color:#1b3469;}
        a:hover{color:#1b3469;}
        .email_footer a{color:#333333;}
        .email_footer a:hover{color:#5d91cc;}
    </style>
</head>
<body style="margin:0px;background-color:#eee;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Tahoma, Arial, sans-serif; font-size:11px;color:#575757;line-height:15px;">
    <tr>
        <td valign="top" style="padding: 0px;"></td>
        <table cellpadding="0" cellspacing="0" width="600" align="center" style="max-width: 600px;min-width: 240px;margin: 0 auto;" class="email-root-wrapper">
            <tr><td valign="top" style="padding: 0px;"></td></tr>
        </table>

    </tr>

    <tr>
        <td>&nbsp;</td>
        <td width="590" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border:solid 1px #f1f1f1;" bgcolor="#ffffff">
                        <table width="100%" border="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="68" style="font-family:Arial, Helvetica, sans-serif; text-indent:10px;padding-top:10px;border-bottom:1px solid #eee;padding-bottom:10px;background-color: #FFF;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                    <tr><td><p>Dear: ##name##,</p></td></tr>
                                                    <tr><td><h2>Welcome to ##DOMAINNAME##</h2></td></tr>
                                                    <tr><td>Thanks for joining ##DOMAINNAME##, We listed your sign in details below, make sure you keep them safe.</td></tr>


                                                </table>
                                            </td>
                                        </tr>
                                        <tr><td>&nbsp;</td></tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr><td>                                            Email: <a href="#" style="color: black; text-decoration: none; padding-left: 20px">##username##</a></td></tr>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr><td>Password: ##password##</td></tr>
                                    </table>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                        <tbody><tr style="line-height: inherit;">
                                            <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                <table cellpadding="0" cellspacing="0" width="600" align="center" style="line-height: inherit; max-width: 600px; min-width: 240px; margin: 0 auto; width: 600px;" class="email-root-wrapper">
                                                    <tbody><tr style="line-height: inherit;">
                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit; border: 0px none;">
                                                                <tbody><tr style="line-height: inherit;">
                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 20px; padding-bottom: 5px;">
                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                            <tbody><tr style="line-height: inherit;">
                                                                                <td style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;" class="pattern">
                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                        <tbody><tr style="line-height: inherit;">
                                                                                            <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0; mso-cellspacing: 0in;">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" align="left" width="25%" style="line-height: inherit; width: 25%; float: left;" class="c150p25r">
                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit; border: 0px none;">
                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 5px; padding-bottom: 5px;">
                                                                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                            <tbody><tr style="line-height: inherit;">
                                                                                                                                <td style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                        <tbody><tr style="line-height: inherit;">
                                                                                                                                            <td valign="top" width="33" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td align="center" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="32" style="line-height: inherit; border: 0px none; height: auto;">
                                                                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                                        <img src="https://images.chamaileon.io/5a82ba081a34beb32051e473/8473167f82d73b34e6486e10ba9b6638" width="32" height="32" alt="" border="0" style="line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" class="img32x32">
                                                                                                                                                                    </td>
                                                                                                                                                                </tr>
                                                                                                                                                                </tbody></table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                            <td valign="top" width="116" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 10px; padding-right: 5px; padding-bottom: 6px; padding-left: 5px;">
                                                                                                                                                            <div style="text-align: left; font-family: Georgia; font-size: 12px; color: #000000; line-height: 14px; mso-line-height: exactly; mso-text-raise: 1px;">
                                                                                                                                                                LIKE
                                                                                                                                                                ON
                                                                                                                                                                FACEBOOK
                                                                                                                                                            </div>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody></table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody></table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody></table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody></table>
                                                                                                <!--[if gte mso 9]></td>
                                                                                            <td valign="top" style="padding:0;">
                                                                                                <![endif]-->
                                                                                                <table cellpadding="0" cellspacing="0" border="0" align="left" width="25%" style="line-height: inherit; width: 25%; float: left;" class="c150p25r">
                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit; border: 0px none;">
                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 5px; padding-bottom: 5px;">
                                                                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                            <tbody><tr style="line-height: inherit;">
                                                                                                                                <td style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                        <tbody><tr style="line-height: inherit;">
                                                                                                                                            <td valign="top" width="33" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td align="center" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="32" style="line-height: inherit; border: 0px none; height: auto;">
                                                                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                                        <img src="https://images.chamaileon.io/5a82ba081a34beb32051e473/747e1a2e6b083411abb65529b694626a" width="32" height="32" alt="" border="0" style="line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" class="img32x32">
                                                                                                                                                                    </td>
                                                                                                                                                                </tr>
                                                                                                                                                                </tbody></table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                            <td valign="top" width="116" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 10px; padding-right: 5px; padding-bottom: 6px; padding-left: 5px;">
                                                                                                                                                            <div style="text-align: left; font-family: Georgia; font-size: 12px; color: #000000; line-height: 14px; mso-line-height: exactly; mso-text-raise: 1px;">
                                                                                                                                                                FOLLOW
                                                                                                                                                                ON
                                                                                                                                                                TWITTER
                                                                                                                                                            </div>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody></table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody></table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody></table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody></table>
                                                                                                <!--[if gte mso 9]></td>
                                                                                            <td valign="top" style="padding:0;">
                                                                                                <![endif]-->
                                                                                                <table cellpadding="0" cellspacing="0" border="0" align="left" width="25%" style="line-height: inherit; width: 25%; float: left;" class="c150p25r">
                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit; border: 0px none;">
                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 5px; padding-bottom: 5px;">
                                                                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                            <tbody><tr style="line-height: inherit;">
                                                                                                                                <td style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                        <tbody><tr style="line-height: inherit;">
                                                                                                                                            <td valign="top" width="33" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td align="center" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="32" style="line-height: inherit; border: 0px none; height: auto;">
                                                                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                                        <img src="https://images.chamaileon.io/5a82ba081a34beb32051e473/39e7f1ceb1f3a90247445ee2172e9da1" width="32" height="32" alt="" border="0" style="line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" class="img32x32">
                                                                                                                                                                    </td>
                                                                                                                                                                </tr>
                                                                                                                                                                </tbody></table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                            <td valign="top" width="116" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 10px; padding-right: 5px; padding-bottom: 6px; padding-left: 5px;">
                                                                                                                                                            <div style="text-align: left; font-family: Georgia; font-size: 12px; color: #000000; line-height: 14px; mso-line-height: exactly; mso-text-raise: 1px;">
                                                                                                                                                                FOLLOW
                                                                                                                                                                ON
                                                                                                                                                                PINTEREST
                                                                                                                                                            </div>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody></table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody></table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody></table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody></table>
                                                                                                <!--[if gte mso 9]></td>
                                                                                            <td valign="top" style="padding:0;">
                                                                                                <![endif]-->
                                                                                                <table cellpadding="0" cellspacing="0" border="0" align="left" width="25%" style="line-height: inherit; width: 25%; float: left;" class="c150p25r">
                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit; border: 0px none;">
                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 5px; padding-bottom: 5px;">
                                                                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                            <tbody><tr style="line-height: inherit;">
                                                                                                                                <td style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                        <tbody><tr style="line-height: inherit;">
                                                                                                                                            <td valign="top" width="33" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td align="center" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="32" style="line-height: inherit; border: 0px none; height: auto;">
                                                                                                                                                                <tbody><tr style="line-height: inherit;">
                                                                                                                                                                    <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                                        <img src="https://images.chamaileon.io/5a82ba081a34beb32051e473/ae353185c488c73ec2f978e583fe51bf" width="32" height="32" alt="" border="0" style="line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" class="img32x32">
                                                                                                                                                                    </td>
                                                                                                                                                                </tr>
                                                                                                                                                                </tbody></table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                            <td valign="top" width="116" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px;">
                                                                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="line-height: inherit;">
                                                                                                                                                    <tbody><tr style="line-height: inherit;">
                                                                                                                                                        <td valign="top" style="line-height: inherit; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-top: 10px; padding-right: 5px; padding-bottom: 6px; padding-left: 5px;">
                                                                                                                                                            <div style="text-align: left; font-family: Georgia; font-size: 12px; color: #000000; line-height: 14px; mso-line-height: exactly; mso-text-raise: 1px;">
                                                                                                                                                                FOLLOW
                                                                                                                                                                ON
                                                                                                                                                                INSTAGRAM
                                                                                                                                                            </div>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody></table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody></table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody></table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody></table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody></table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>
                                                                    </td>
                                                                </tr>
                                                                </tbody></table>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td height="25">&nbsp;</td></tr>
            </table>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>