<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>##DOMAINNAME##</title>
        <style>
            a{color:#1b3469;}
            a:hover{color:#1b3469;}
            .email_footer a{color:#333333;}
            .email_footer a:hover{color:#5d91cc;}
        </style>
    </head>
    <body style="margin:0px;background-color:#eee;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Tahoma, Arial, sans-serif; font-size:11px;color:#575757;line-height:15px;">
            <tr>
                <td>&nbsp;</td>
                <td width="590" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
						<td><a href="http://www.garmenplus.com"><img src="http://www.garmenplus.com/assets/web/images/logo.png" border="0" outline="0"  height="100" /></a></td>                        
                        </tr>
						<tr>
						<td height="30" align="right" style="font-family:Tahoma, Arial, sans-serif; font-size:11px; color:#333333;padding:0 5px 0 0;"><!--currentdate--></td>
						</tr>
                        <tr>
                            <td style="border:solid 1px #f1f1f1;" bgcolor="#fff">
                                <table width="100%" border="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height="68" style="font-family:Arial, Helvetica, sans-serif; text-indent:10px;padding-top:10px;border-bottom:1px solid #eee;padding-bottom:10px;background-color: #FFF;">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td>&nbsp;</td>
																<td align="right" valign="top" style="padding-right:10px">
																	&nbsp;
																</td>
															</tr>
														</table>
													</td>
                                                </tr>                                      
                                                <tr>
                                                    <td valign="top" bgcolor="#ffffff" style="padding:5px 10px 10px 10px;">
													<!--contents-->													
													</td>
                                                </tr>
                                                <tr><td>&nbsp;</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><a href=""><img src="http://www.garmenplus.com/assets/img/facebook_001.png"></a>
                            <a href=""><img src="http://www.garmenplus.com/assets/img/twitter_001.png"></a>
                            <a href=""><img src="http://www.garmenplus.com/assets/img/linkedin_001.png"></a>
                            <a href=""><img src="http://www.garmenplus.com/assets/img/gplus_001.png"></a>
                            <a href=""><img src="http://www.garmenplus.com/assets/img/instagram_001.png"></a>
                            </td>
                        </tr>
                        <tr><td height="25" align="center">
                            <!--companyname-->
                        </td></tr>
                        <tr><td height="25" align="center"><!--contactaddress--></td></tr>
<tr><td align="center">You can unsubscribe at any time by clicking <a href="http://www.garmenplus.com/login/unsubscribe">here</a></a></td></tr>
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>
</html>
